@charset "UTF 8";

body {
    background-color: rgb(247, 247, 247);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: green;
}
#principal {
   text-align: center;
   background-color: aqua; 
}

h2 {
    color: rgb(24, 41, 24);
}
.basico {
    color: limegreen;
}
.intermediario {
    color: yellowgreen;
}
.avancado {
    color: rgb(205, 50, 50);
}